<% iris.title( _T("Funding 2016 — Sia") ); %>
<% include partial/header %>
	<section class="article ">
		<div class="container">
			<header class="row" style="padding-bottom: 1rem;">
				<div class="col-xs-12" style="padding-bottom: 1rem;">
					<h1><%= _T("Sia Startup raises $750k seed round to further blockchain-powered, distributed storage platform") %></h1>
					<h2><%= _T("After 1.0 release, Nebulous targets enterprise expansion") %></h2>
				</div>
				<div class="col-xs-12" style="padding-bottom: 1rem;">
					<h2><i><%= _T("Cambridge, MA - August 30th, 2016") %></i></h2>
				</div>
			</header>
			<div class="row" style="padding-top: 1rem;">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<p><%- _T('Nebulous today has raised $750,000 for Sia, led by <a href="http://www.procyonventures.com">Procyon Ventures</a> and <a href="http://www.raptorgroup.com">Raptor Group</a>, with participation from <a href="http://fenbushi.vc/index_en.html">Fenbushi Capital</a> and angel investor Xiaolai Li. To date, Nebulous has raised $1.25M in total funding. Sia achieved its 1.0 release in June of this year and the funding will allow the team to accelerate its development and further its use by enterprises.')%></p>

					<p><%- _T("Sia is a collaborative data storage platform which allows users to store and retrieve large amounts of data quickly and securely. Smart contracts allow users to seamlessly acquire storage from hosts all over the world which have agreed to rent space on their hard drives. Sia’s blockbased-based technology ensure hosts aren’t able to see inside the data they store while guaranteeing the data is available when needed. By creating a marketplace where thousands of hosts bid on a storage contract, this allows the platform to be more reliable and also deliver significant cost savings compared to traditional cloud providers.")%></p>

					<p><%- _T('"By using encryption, cryptographic contracts, and redundancy, Sia enables a collection of untrusted and unknown machines to be combined into a single logical cloud storage host that is faster, cheaper, and more reliable than traditional cloud storage platforms." David Vorick, cofounder and CEO, said.')%></p>

					<p><%- _T("Since inception in 2014, Sia’s focus has always been on bringing strong, fully decentralized cloud storage to the world. The first fully decentralized prototype of Sia launched in June 2015, a cloud storage platform that allowed both hosts and renters to participate in a network that had no centralized services or single points of failure. The following year was spent iterating on the tech, focusing on scalability and on an easy-to-use third party API. June 2016 saw the release of the completed API, along with a compatibility promise that all programs and services built using the 1.0.0 API would continue to work with all future versions of Sia.")%></p>

					<p><%- _T("Moving forward, the company’s primary focus will be on improving stability, speed, growing the developer community, and beginning expansion into the enterprise market. Though still buggy, Sia is happy to be the only working marketplace for cloud storage that is fully decentralized.")%></p>

					<p><%- _T('"Every team we talk with that works with data in a meaningful way, from AI to precision medicine to Industrial IoT, is seeing the amount of data they want to store and work with grow beyond their ability to work with it. Sia has the potential to be a game changing for storing and sharing data," said Procyon partner Drew Volpe.')%></p>

					<h3><%- _T("About Nebulous")%></h3>
					<p><%- _T("Nebulous is the parent company to Sia. Currently a team of four, Nebulous’ focus is reliable, decentralized infrastructure to help bring forward the future. Sia is currently the primarily project of the Nebulous team.")%></p>

					<h3><%- _T("About Procyon")%></h3>
					<p><%- _T("Procyon Ventures is an early-stage, venture capital firm based in Boston, MA. Procyon partners with entrepreneurs solving real-world problems using data and machine intelligence, focusing on applications of frontier technologies such as AI, computational biotech, connected sensors, AR/VR, and industrial IoT. We believe in investing with conviction in visionary founders with deep technical experience. Drawing on our network of strategic partners across industries and regions, we help startups think big and grow fast.")%></p>

					<h3><%- _T("About Raptor Group")%></h3>
					<p><%- _T("Raptor Group Holdings is a private investment company backed by the Family Office of Jim Pallotta. Mr. Pallotta has been a professional and personal investor for over 30 years. Prior to forming Raptor Group in 2009, Jim was most recently Vice Chairman of Tudor Investment Corporation, where he had responsibility for over $10B in long/short equities and pioneered Tudor's venture capital program and Tudor’s outside managers’ seeding business. Jim is currently President and Chairman of A/S Roma (global football team), Co-Owner and Executive Board Member of the Boston Celtics, as well as a Board Member for the Rock and Roll Hall of Fame, Berklee School of Music, Children's Hospital Trust, and a member of the MIT Media Labs Advisory Council.")%></p>

					<p><%- _T("Raptor Group's culture is relentlessly entrepreneurial, opportunistic, flexible, and nimble; these values comprise the Firm's core DNA and manifest across every aspect of our business. We source and invest in companies across various stages and asset classes, ranging from early stage venture to both private and public equity. Raptor focuses on various industries including, but not limited to: Sports, Consumer, Technology, Media, Entertainment, and Financial Services. Our key investment criteria is the opportunity to leverage the team's operating and strategic expertise and extensive global network to add value and drive results.")%></p>

					<p><%- _T("We welcome the opportunity to begin a dialogue with entrepreneurs, operators, corporate executives, and other professional investors who seek experienced partners who share their vision to drive long-term outsized investment returns.")%></p>

					<h3><%- _T("About Fenbushi")%></h3>
					<p><%- _T("Founded in 2015, Fenbushi Capital is the first China-based venture capital firm that exclusively invests in Blockchain-enabled companies. Our mission is to accelerate the inevitable future of Blockchain economy by supporting as many companies as possible.")%></p>

					<p><%- _T("We strongly believe Blockchain technology will play an important role bringing much more transparency, efficiency, and robustness into the global economy. With our experienced partners in both traditional finance and the blockchain technology and many startup companies, we hope to bring this vision into fruition.")%></p>
				</div>
			</div>
		</div>
	</section>
<!--
	<section class="form">
		<div class="container">
			<div class="row">
				<form action="/about" method="post" accept-charset="UTF-8" class="get-in-touch col-xs-12 col-lg-10 col-lg-offset-1">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">
							<h1><%= _T("Get in touch!") %></h1>
							<h5 class="result-message"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">
							<input type="hidden" name="CRAFT_CSRF_TOKEN" value="~iJ8vL1ocHcfOw11kCyrYWUN2vVYBlixUaL3lhPH">
							<div class="input-group">
								<input aria-label="Action" type="hidden" name="action" value="contactForm/sendMessage" />
								<input aria-label="Redirect" type="hidden" name="redirect" value="about" />
								<input aria-label="Name" type="text" class="form-control" placeholder="<%= _T("Name") %>" name="fromName" />
								<input aria-label="Email" type="text" class="form-control" placeholder="<%= _T("Email") %>" name="fromEmail" />
							</div>
							<div class="input-group">
								<input aria-label="Organization" type="text" class="form-control" placeholder="<%= _T("Organization") %>" name="message[organization]" />
								<select aria-label="Type of Inquiry" class="form-control" name="message[inquirytype]">
									<option value=""><%= _T("Type of inquiry") %></option>
									<option value="General"><%= _T("General") %></option>
									<option value="Press"><%= _T("Press") %></option>
									<option value="Partnerships"><%= _T("Partnerships") %></option>
									<option value="Investment Interest"><%= _T("Investment Interest") %></option>
								</select>
							</div>
							<div class="input-group">
								<textarea aria-label="Message" class="form-control" placeholder="<%= _T("Your message") %>" name="message[message]"></textarea>
							</div>
							<div class="input-group">
								<button class="btn" role="button" type="submit"><%= _T("Send") %></button>
								<input aria-label="Comment"type="hidden"name="comment" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
-->
<% include partial/discover %>
<style type="text/css">
	.result-message{text-align:center;color:#00CBA0;min-height:20px;}
	.result-message.error{color:#d9534f;}
	.result-message .loading-img{animation:rotate 1s infinite; width:20px;}
    @-webkit-keyframes rotate {100% {-webkit-transform: rotate(360deg);}}
	@keyframes rotate {100% {transform: rotate(360deg);}}
</style>
<script type="text/javascript">
	$('form.get-in-touch').on("submit", function(e){
		e.preventDefault();
		var $msgHolder = $('.result-message');
		$msgHolder.removeClass("error").html("<img class='loading-img' src='/img/svg/loading.svg'>");
		$.ajax({
			url: "/about",
			method: "POST",
			data: $(this).serialize(),
			success: function(result){
				var msg = result.error || '<%= _T("Server Error: Please try later.") %>';
				if (result.success){
					msg = '<%= _T("Success: Thanks for contacting.") %>';
				}else{
					$msgHolder.addClass("error");
				}
				$msgHolder.html(msg);
			},
			failure: function(){
				$msgHolder.addClass("error").html('<%= _T("Server Error: Please try later.") %>');
			}
		})
	});
</script>
<% include partial/footer %>
